.product {
  padding: 50px 0 150px ;
}

.product__inner {
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
}

.product__inner-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.product__left-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

.cart__grid-controls-amount--mobile {
  display: none;
}

.product__left-slider-wrapper {
  width: 81px;
  height: 300px;
  overflow: hidden;
}

.product__left-slider-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.product__left-slider-item {
  width: 81px;
  height: 81px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.product__left-slider-item.active {
  opacity: 1;
}

.product__item-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.product__left-nav {
  border-radius: 20px;
  border: 2px solid rgba(246, 246, 246, 0.5);
  width: 81px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product__left-nav:hover {
  background-color: rgba(246, 246, 246, 0.1);
}

.product__left-nav.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.product__left-nav.disabled:hover {
  background-color: transparent;
}

.product__left-img {
  border-radius: 20px;
}

.product__right-title {
  font-size: 32px;
}

.product__right-cost {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.product__right-price {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--general-text);
}

.product__price-new {
  font-family: "Jost-SemiBold";
  font-size: 32px;
  text-transform: uppercase;
}

.product__price-old {
  font-family: "Jost-Light";
  font-size: 16px;
  text-decoration: line-through;
}

.product__right-descr {
  display: flex;
  flex-direction: column;
  gap: 40px;

  font-family: "Jost-Regular";
  font-size: 20px;
  color: var(--general-text);
  line-height: 150%;
  margin-bottom: 50px;
}

.product__right-buttons {
  display: flex;
  align-items: center;
  gap: 26px;
}

.product__right-btn {
  margin: 0;
}

.product__right-fav {
  border-radius: 13px;
  width: 65px;
  height: 65px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
  background: var(--accent-bg);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.product__sales-title {
    font-size: 32px;
}


